{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Website for using AI in DICOM{% endblock %}

<!--banner_slide-->
{% block banner_slide %}
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>

    </div>
    
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{% static "decor/images/banner/ban1.png" %}" class="d-block w-100" alt="AI production">
        <div class="carousel-caption d-none d-md-block">
          <h5>AI production</h5>
          <p>Artificial Intelligent in analysing DICOM images.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static "decor/images/banner/ban2.png" %}" class="d-block w-100" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p>Supply solutions for DICOM analysists.</p>
        </div>
      </div>
      
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static "decor/images/banner/ban3.gif" %}" class="d-block w-100" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Faster and more accurate</h5>
          <p>Presentative content</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static "decor/images/banner/ban4.png" %}" class="d-block w-100" alt="Fourth slide" height="680">
        <div class="carousel-caption d-none d-md-block">
          <h5>Big data, big brain</h5>
          <p>Presentative content</p>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock banner_slide %}

<!--content-->
{% block content %}
<h4> Đây là trang web được phát triển để nghiên cứu khả năng ứng dụng AI vào việc xử lý hình ảnh DICOM. </h4>
<h5> Với các khả năng tùy biến, mô hình U-nets được ứng dụng việc học máy (machine learning) nhằm tăng khả năng làm việc 
xử lý dữ liệu gửi từ người dùng, từ đó tự động training để cung cấp cho big data. </h5>
............
.............

{% endblock content %}